<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453741065442-1fsmn01t6hou181qdhaf9q1ukkf5i83s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453741065442-1fsmn01t6hou181qdhaf9q1ukkf5i83s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>453741065442-cdth3hiah3f5cotpur0a04flmm1cbdkt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvvRBy7NWnq8ycs4y5yedTWYyQg75QGqY</string>
	<key>GCM_SENDER_ID</key>
	<string>453741065442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmaildeve.taitran.religionCalendarApp</string>
	<key>PROJECT_ID</key>
	<string>religion-calendar-app</string>
	<key>STORAGE_BUCKET</key>
	<string>religion-calendar-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453741065442:ios:79319e0f23a1c620615abb</string>
</dict>
</plist>